﻿  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        DANH SÁCH ĐƠN HÀNG
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Danh sách đơn hàng</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh sách đơn hàng</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Thu"><i class="fa fa-minus"></i></button>
            </div>  
        </div>
        <div class="box-body">
            <di class="row">
                <div class="col-md-4">
                    <div class="col-xs-10" angucomplete-alt id="txtSearch" placeholder="Nhập tên hoặc email" pause="100"
                         selected-object="afterSelectedItem" local-data="dataSearch" search-fields="CustomerName,CustomerEmail" title-field="CustomerName"
                         minlength="0" input-class="form-control" match-class="highlight" ng-model="keyword" text-no-results="Không có đơn hàng phù hợp..." 
                         description-field="CustomerEmail" text-searching="Đang tìm...">
                    </div>
                    <span class="col-xs-2" id="buttonSearch">
                        <button class="btn btn-default" type="button" ng-click="search()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="col-md-2 pull-right">
                    <select name="numRow" ng-model="numRow" ng-change="search()" class="form-control">
                        <option value="5">Hiển thị 5 hàng</option>
                        <option value="10">Hiển thị 10 hàng</option>
                        <option value="25">Hiển thị 25 hàng</option>
                        <option value="50">Hiển thị 50 hàng</option>
                        <option value="-1">Tất cả</option>
                    </select>
                    <input type="hidden" name="numRow" ng-model="numRow" />
                </div>
                <div class="col-md-4 pull-right">
                    <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getOrders(page)" class="pull-right"></pager-directive>
                </div>   
            </di>
            <div class="row" style="overflow-x:auto;">
                <div class="col-md-12">                      
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="rowHeaderTable">                               
                                <th style="width: 4%">STT</th>
                                <th style="width: 6%">Mã</th>  
                                <th style="width: 17%">Khách hàng</th>
                                <th style="width: 20%">Email - Số điện thoại</th>
                                <th style="width: 15%">Ngày đặt hàng</th>        
                                <th style="width: 15%; text-align:center">Giá trị</th>     
                                <th style="width: 13%; text-align:center;">
                                Trạng thái
                                    <select class="form-control" ng-model="filterStatus" id="sltFilterStatus" ng-options="p.ValueInt as p.ValueString for p in status" ng-change="search()" title="Chọn trạng thái của đơn hàng">
                                        <option value="" style="font-weight:bold;">Tất cả</option>
                                    </select>
                                </th>                           
                                <th style="width: 10%; text-align:center;">Duyệt</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in orders | orderBy:'-ID'" >
                                <td>{{$index+1}}</td>
                                <td title="Click mã đơn hàng để xem chi tiết"><a ui-sref="order_edit({id:item.ID})" style="color:#3c8dbc;">#{{item.ID}}</a></td>
                                <td>{{item.CustomerName}}</td>
                                <td>{{item.CustomerEmail}} <br /> {{item.CustomerMobile}}</td>
                                <td style="text-align:center;">{{item.CreatedDate | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                <td style="font-size:15px; text-align:right;">{{item.SubTotal | number}} VND</td>
                                <td ng-repeat="status in orderStatus | filter:{ ValueInt: item.Status}" style="text-align:center;"><span class="{{status.Code | isStatusOrderFilter}}">{{status.ValueString}}</span></td>
                                <td style="text-align:center;">
                                    <button class="btn btn-sm btn-primary" ui-sref="order_edit({id:item.ID})" title="Chọn để duyệt đơn hàng"><i class="glyphicon glyphicon-eye-open"></i></button>                                    
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                        </tfoot>
                    </table>            
                    <div ng-if="loading">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4" style="text-align:center;">
                            <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>                          
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getOrders(page)" class="pull-right"></pager-directive>
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</section><!-- /.content -->