﻿
<section class="content-header">
    <h1>
        THÊM MỚI SẢN PHẨM
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="products">Danh sách sản phẩm</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Thên mới sản phẩm: <b>{{product.Name}}</b></h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" novalidate name="frmAddProduct" role="form" ng-submit="AddProduct()">
                    <uib-tabset>
                        <uib-tab index="0" heading="Thông tin sản phẩm">
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.name.$invalid && !frmAddProduct.name.$pristine }">
                                <label for="name" class="col-sm-2 control-label">Tên sản phẩm:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" ng-change="GetSeoTitle()" ng-maxlength="256" required name="name" ng-model="product.Name">
                                    <span ng-show="frmAddProduct.name.$invalid && !frmAddProduct.name.$pristine" class="has-error">Tên sản phẩm là bắt buộc.</span>
                                    <span ng-show="frmAddProduct.name.$error.maxlength" class="has-error">Tên sản phẩm tối đa 256 ký tự</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.brandId.$invalid && !frmAddProduct.brandId.$pristine }">
                                <label for="brandId" class="col-sm-2 control-label">Nhãn hiệu:</label>
                                <div class="col-sm-10">
                                    <select name="brandId" required class="form-control" ng-model="product.BrandID" ng-options="brand.ID as brand.Name for brand in productBrands">
                                        <option value="" style="font-weight:bold;">Chọn nhãn hiệu</option>
                                    </select>
                                    <span ng-show="frmAddProduct.brandId.$invalid && !frmAddProduct.brandId.$pristine" class="has-error">Chưa chọn nhãn hiệu.</span>
                                    <input type="hidden" name="brandParentId" ng-model="product.BrandID" required />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.categoryId.$invalid && !frmAddProduct.categoryId.$pristine }">
                                <label for="categoryId" class="col-sm-2 control-label">Danh mục:</label>
                                <div class="col-sm-10">
                                    <select name="categoryId" required class="form-control" ng-model="product.CategoryID" ng-options="option.ID as option.Name for option in flatFolders">
                                        <option value="" style="font-weight:bold;">Chọn danh mục</option>
                                    </select>
                                    <span ng-show="frmAddProduct.categoryId.$invalid && !frmAddProduct.categoryId.$pristine " class="has-error">Chưa chọn danh mục.</span>
                                    <input type="hidden" name="parentId" ng-model="product.CategoryID" required />
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.warranty.$invalid && !frmAddProduct.warranty.$pristine }">
                                <label for="warranty" class="col-sm-2 control-label">Bảo hành (Tháng):</label>
                                <div class="col-sm-10">
                                    <div class="input-number">
                                        <input id="warranty" type="number" name="warranty" ng-model="product.Warranty" class="form-control" />
                                        <label for="warranty" class="form-control">{{product.Warranty | number}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.quantity.$invalid && !frmAddProduct.quantity.$pristine }">
                                <label for="quantity" class="col-sm-2 control-label">Số lượng:</label>
                                <div class="col-sm-10">
                                    <div class="input-number">
                                        <input id="quantity" type="number" name="quantity" ng-model="product.Quantity" required class="form-control" />
                                        <label for="quantity" class="form-control">{{product.Quantity | number}}</label>
                                    </div>
                                    <span ng-show="frmAddProduct.quantity.$invalid && !frmAddProduct.quantity.$pristine " class="has-error">Số lượng là bắt buộc.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.originalPrice.$invalid && !frmAddProduct.originalPrice.$pristine }">
                                <label for="originalPrice" class="col-sm-2 control-label">Giá nhập:</label>
                                <div class="col-sm-10">
                                    <div class="input-number">
                                        <input id="originalPrice" type="number" name="originalPrice" ng-model="product.OriginalPrice" required class="form-control" />
                                        <label for="originalPrice" class="form-control">{{product.OriginalPrice | number}}</label>
                                    </div>
                                    <span ng-show="frmAddProduct.originalPrice.$invalid && !frmAddProduct.originalPrice.$pristine" class="has-error">Giá nhập là bắt buộc.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.price.$invalid && !frmAddProduct.price.$pristine }">
                                <label for="price" class="col-sm-2 control-label">Giá bán:</label>
                                <div class="col-sm-10">
                                    <div class="input-number">
                                        <input id="price" type="number" name="price" ng-model="product.Price" required class="form-control" />
                                        <label for="price" class="form-control">{{product.Price | number}}</label>
                                    </div>
                                    <span ng-show="frmAddProduct.price.$invalid && !frmAddProduct.price.$pristine" class="has-error">Giá bán là bắt buộc.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.promotionPrice.$invalid && !frmAddProduct.promotionPrice.$pristine }">
                                <label for="promotionPrice" class="col-sm-2 control-label">Giá khuyến mãi:</label>
                                <div class="col-sm-10">
                                    <div class="input-number">
                                        <input id="promotionPrice" type="number" name="promotionPrice" ng-model="product.PromotionPrice" class="form-control" />
                                        <label for="promotionPrice" class="form-control">{{product.PromotionPrice | number}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.image.$invalid && !frmAddProduct.image.$pristine }">
                                <label for="image" class="col-sm-2 control-label">Hình ảnh:</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" ng-maxlength="256" ng-model="product.Image" name="imageInput" required ng-minlength="1"/>
                                        <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button></span>
                                    </div>
                                    <img ng-show="!frmAddProduct.imageInput.$invalid && !frmAddProduct.imageInput.$error.minlength" class="img-responsive" name="image" ng-src="{{product.Image}}" width="150" height="150">
                                    <span ng-show="frmAddProduct.imageInput.$error.maxlength" class="has-error">Địa chỉ hình ảnh tối đa 256 ký tự</span>
                                    <span ng-show="frmAddProduct.imageInput.$error.minlength" class="has-error">Chưa chọn hình ảnh</span>
                                    <span ng-show="frmAddProduct.imageInput.$invalid && !frmAddProduct.imageInput.$pristine " class="has-error">Hình ảnh là bắt buộc.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Thêm ảnh:</label>
                                <div class="col-sm-10">
                                    <ul class="list-inline clearfix">
                                        <li class="img-wrap" ng-repeat="img in moreImages track by $index">
                                            <a ng-click="deleteItem($index)">
                                                <span class="close" title="xóa">&times;</span>
                                            </a>
                                            <img ng-src="{{img}}" width="100" height="150" />
                                        </li>
                                    </ul>
                                    <button class="btn btn-default" type="button" ng-click="ChooseMoreImage()">Thêm ảnh</button>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="isPublished" ng-model="product.IsPublished" ng-checked="product.IsPublished"> Hiển thị
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="homeFlag" ng-model="product.HomeFlag" ng-checked="product.HomeFlag"> Hiển thị trang chủ
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="hotFlag" ng-model="product.HotFlag" ng-checked="product.HotFlag"> Sản phẩm HOT
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="1" heading="Chi tiết sản phẩm">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mẫu thuộc tính:</label>
                                <div class="col-sm-10">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <select class="form-control" ng-model="product.template" ng-options="template as template.Name for template in productTemplates"></select>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-default" type="button" ng-disabled="!product.template" ng-click="applyTemplate()">Áp dụng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Thuộc tính:</label>
                                <div class="col-sm-10">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <select class="form-control" ng-model="addingAttribute" ng-options="attr as attr.Name group by attr.ProductAttributeGroup.Name for attr in ProductAttributes">
                                                <option value="" style="font-weight:bold">Chọn thuộc tính</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-default" type="button" ng-disabled="!addingAttribute" ng-click="addAttribute(addingAttribute)"><span class="glyphicon glyphicon-plus"></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Danh sách thuộc tính:</label>
                                <div class="col-sm-10" style="overflow-x:auto;">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead>
                                            <tr class="rowHeaderTable">
                                                <th>Tên thuộc tính</th>
                                                <th>Giá trị</th>
                                                <th style="text-align:center;">Xóa</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="attr in product.AttributeValues">
                                                <td>{{attr.Name}}</td>
                                                <td><input type="text" class="form-control" ng-model="attr.Value" /></td>
                                                <td style="text-align:center;">
                                                    <button ng-click="removeAttribute(attr)" type="button" class="btn btn-danger">
                                                        <span class="glyphicon glyphicon-remove"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="3" heading="Giới thiệu sản phẩm">
                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label" style="text-align:left;">Mô tả ngắn:</label>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.description.$invalid && !frmAddProduct.description.$pristine }">
                                <div class="col-sm-12">
                                    <textarea type="text" class="form-control" name="description" ng-maxlength="500" ng-model="product.Description"></textarea>
                                    <span ng-show="frmAddProduct.description.$error.maxlength" class="has-error">Mô tả tối đa 500 ký tự</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="content" class="col-sm-2 control-label" style="text-align:left;">Giới thiệu sản phẩm:</label>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <textarea class="form-control" name="content" ckeditor="ckeditorOptions" ng-model="product.Content"></textarea>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab index="2" heading="SEO sản phẩm">
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.alias.$invalid && !frmAddProduct.alias.$pristine }">
                                <label for="alias" class="col-sm-2 control-label">Tiêu đề SEO:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="alias" required ng-maxlength="256" ng-model="product.Alias">
                                    <span ng-show="frmAddProduct.alias.$invalid && !frmAddProduct.alias.$pristine " class="has-error">Tiêu đề Seo là bắt buộc.</span>
                                    <span ng-show="frmAddProduct.alias.$error.maxlength" class="has-error">Tiêu đề SEO tối đa 256 ký tự.</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.tags.$invalid && !frmAddProduct.tags.$pristine }">
                                <label for="tags" class="col-sm-2 control-label">Tags:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="tags" ng-maxlength="256" ng-model="product.Tags">
                                    <span ng-show="frmAddProduct.tags.$error.maxlength" class="has-error">Tags tối đa 256 ký tự</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.metaKeyword.$invalid && !frmAddProduct.metaKeyword.$pristine }">
                                <label for="metaKeyword" class="col-sm-2 control-label">Meta Keyword:</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="metaKeyword" ng-maxlength="256" ng-model="product.MetaKeyword">
                                    <span ng-show="frmAddProduct.metaKeyword.$error.maxlength" class="has-error">Meta Keyword chỉ được 256 ký tự</span>
                                </div>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : frmAddProduct.metadescription.$invalid && !frmAddProduct.metadescription.$pristine }">
                                <label for="metadescription" class="col-sm-2 control-label">Meta Description:</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" name="metadescription" ng-maxlength="256" ng-model="product.MetaDescription"></textarea>
                                    <span ng-show="frmAddProduct.metadescription.$error.maxlength" class="has-error">Meta Description chỉ được 256 ký tự</span>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                    <div class="box box-footer">
                        <div class="col-sm-offset-2 col-sm-10 groupControl">
                            <input type="submit" ng-disabled="frmAddProduct.$invalid" class="btn btn-primary" value="Lưu lại" />
                            <a ui-sref="products" class="btn btn-default">Hủy bỏ</a>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</section>
