﻿  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        DANH SÁCH SẢN PHẨM
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Danh sách sản phẩm</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh sách sản phẩm</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Thu"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <di class="row">
                <div class="col-md-4">
                    <div class="col-xs-10" angucomplete-alt id="txtSearch" placeholder="Nhập tên sản phẩm..." pause="100"
                         selected-object="afterSelectedItem" local-data="dataSearch" search-fields="Name" title-field="Name"
                         description-field="Description" minlength="0" input-class="form-control" image-field="Image" match-class="highlight" ng-model="keyword" text-no-results="Không có phản hồi phù hợp..." text-searching="Đang tìm...">
                    </div>
                    <span class="col-xs-2" id="buttonSearch">
                        <button class="btn btn-default" type="button" ng-click="search()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="col-md-6 pull-left">
                    <button class="btn btn-success" ui-sref="product_add" title="Thêm mới sản phẩm"><i class="fa fa-plus-square"> </i> Thêm mới</button>
                    <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled title="Xóa nhiều sản phẩm"> <i class="fa fa-minus-square"> </i> Xóa</button>
                    <button class="btn btn-primary" ng-click="exportData()" disabled id="btnExport" title="Chọn danh sách các sản phẩm muốn xuất trước"><i class="fa fa-download"> </i> Xuất Excel</button>
                </div>
                <div class="col-md-2 pull-right">
                    <select name="numRow" ng-model="numRow" ng-change="search()" class="form-control">
                        <option value="5">Hiển thị 5 hàng</option>
                        <option value="10">Hiển thị 10 hàng</option>
                        <option value="25">Hiển thị 25 hàng</option>
                        <option value="50">Hiển thị 50 hàng</option>
                        <option value="-1">Tất cả</option>
                    </select>
                    <input type="hidden" name="numRow" ng-model="numRow" />
                </div>
            </di>
            <div class="row" style="overflow-x:auto;">
                <div class="col-md-12">

                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="rowHeaderTable">
                                <th style="vertical-align: middle;"><input name="all" type="checkbox" ng-click="selectAll()" /></th>
                                <th style="width: 3%">STT</th>
                                <th style="width: 18%">Tên sản phẩm</th>
                                <th style="width: 10%">Hình ảnh</th>
                                <th style="width: 10%">
                                    Danh mục
                                    <select name="categoryId" class="form-control" ng-model="categoryID" ng-change="search()" ng-options="option.ID as option.Name for option in flatFolders">
                                        <option value="" style="font-weight:bold;">Tất cả</option>
                                    </select>
                                </th>
                                <th style="width: 10%">
                                    Nhãn hiệu
                                    <select name="brandId" class="form-control" ng-model="brandID" ng-change="search()" ng-options="brand.ID as brand.Name for brand in productBrands">
                                        <option value="" style="font-weight:bold;">Tất cả</option>
                                    </select>
                                </th>
                                <th style="width: 13%">Giá nhập hàng<br /> Giá bán<br /> Giá khuyến mãi</th>
                                <th style="width: 6%; text-align:center;">
                                Số lượng
                                    <select name="sortQuantity" class="form-control" ng-model="sortQuantity" ng-change="search()">
                                        <option value="" style="font-weight:bold;" selected>Sắp xếp</option>
                                        <option value="1">Tăng</option>
                                        <option value="2">Giảm</option>
                                    </select>
                                </th>
                                <th style="width: 6%; text-align:center;">Lượt xem</th>
                                <th style="width: 6%; text-align:center; vertical-align:bottom;">
                                    Hiển thị
                                    <select name="published" class="form-control" ng-model="havePublished" ng-change="search()">
                                        <option value="" style="font-weight:bold;" selected>Tất cả</option>
                                        <option value="1">Hiển thị</option>
                                        <option value="2">Ẩn</option>
                                    </select>
                                </th>
                                <th style="width: 6%; text-align:center;">
                                    Trang chủ
                                    <select name="homePage" class="form-control" ng-model="showHomePage" ng-change="search()">
                                        <option value="" style="font-weight:bold;" selected>Tất cả</option>
                                        <option value="1">Hiển thị</option>
                                        <option value="2">Ẩn</option>
                                    </select>
                                </th>
                                <th style="width: 9%; text-align:center;">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in products">
                                <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                                <td>{{$index+1}}</td>
                                <td><a ui-sref="product_edit({id:item.ID})">{{item.Name | limitTo:50}}</a></td>
                                <td><img ng-src="{{item.Image}}" width="100%" height="75" /></td>
                                <td style="text-align:center;">{{item.ProductCategory.Name}}</td>
                                <td style="text-align:center;">{{item.ProductBrand.Name}}</td>
                                <td style="font-size:15px;">
                                    {{item.OriginalPrice | number}} VND <br />
                                    {{item.Price | number}} VND        <br />
                                    <span ng-show="{{item.PromotionPrice >0}}" style="color:red;">{{item.PromotionPrice | number}} VND</span>
                                </td>
                                <td style="text-align:center;">{{item.Quantity}}</td>
                                <td style="text-align:center;">{{item.ViewCount}}</td>
                                <td style="text-align:center;"><i class="{{item.IsPublished | isPublishFilter}}"></i></td>
                                <td style="text-align:center;"><i class="{{item.HomeFlag | isPublishFilter}}"></></i></td>
                                <td style="text-align:center;">
                                    <button class="btn btn-sm btn-primary" ui-sref="product_edit({id:item.ID})" title="Chỉnh sửa"><i class="fa fa-pencil"></i></button>
                                    <button class="btn  btn-sm btn-danger" ng-click="deleteProduct(item.ID)" title="Xóa"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="12"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div ng-if="loading">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProducts(page)" class="pull-right"></pager-directive>
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
    <div id="exportable" style="display:none">
        <table width="100%">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Alias</th>
                    <th>Danh mục</th>
                    <th>Nhãn hiệu</th>
                    <th>Số lượng</th>
                    <th>Bảo hành (Tháng)</th>
                    <th>Giá nhập</th>
                    <th>Giá bán</th>
                    <th>Giá khuyến mãi</th>
                    <th>Mô tả</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in products | filter:{checked: true}">
                    <td>{{$index+1}}</td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Alias}}</td>
                    <td>{{item.CategoryID}}</td>
                    <td>{{item.BrandID}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{item.Warranty}}</td>
                    <td>{{item.OriginalPrice | number}}</td>
                    <td>{{item.Price | number}}</td>
                    <td>{{item.PromotionPrice | number}}</td>
                    <td>{{item.Description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
