﻿  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        DANH MỤC NHÃN HIỆU
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Danh mục nhãn hiệu</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh mục nhãn hiệu</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Thu"><i class="fa fa-minus"></i></button>
            </div>  
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="col-xs-10" angucomplete-alt id="txtSearch" placeholder="Nhập tên nhãn hiệu" pause="100"
                         selected-object="afterSelectedItem" local-data="dataSearch" search-fields="Name" title-field="Name"
                         minlength="0" input-class="form-control" description-field="Description" image-field="Image" match-class="highlight" ng-model="keyword" text-no-results="Không có nhãn hiệu phù hợp..." text-searching="Đang tìm...">
                    </div>
                    <span class="col-xs-2" id="buttonSearch">
                        <button class="btn btn-default" type="button" ng-click="search()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="col-md-2 pull-left">
                    <button class="btn btn-success" ui-sref="add_product_brand" title="Thêm mới nhãn hiệu">Thêm mới</button>
                    <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled title="Xóa nhiều nhãn hiệu">Xóa</button>
                </div>
                <div class="col-md-2 pull-right">
                    <select name="numRow" ng-model="numRow" ng-change="search()" class="form-control">
                        <option value="5">Hiển thị 5 hàng</option>
                        <option value="10">Hiển thị 10 hàng</option>
                        <option value="25">Hiển thị 25 hàng</option>
                        <option value="50">Hiển thị 50 hàng</option>
                        <option value="-1">Tất cả</option>
                    </select>
                    <input type="hidden" name="numRow" ng-model="numRow" />
                </div>
                <div class="col-md-4 pull-right">
                    <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProductBrands(page)" class="pull-right"></pager-directive>
                </div>   
            </div>
            <div ng-if="loading">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="row" style="overflow-x:auto;">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="rowHeaderTable">
                                <th style="vertical-align: middle;"><input name="all" type="checkbox" ng-click="selectAll()" /></th>
                                <th style="width: 5%">STT</th>
                                <th style="width: 20%">Tên danh mục</th>
                                <th style="width: 30%">Mô tả</th>
                                <th style="width: 8%">Ngưởi tạo &#10; Ngày tạo</th>
                                <th style="width: 8%">Ngưởi sửa &#10; Ngày sửa</th>
                                <th style="width: 8%; text-align:center;">Hiển thị</th>
                                <th style="width: 8%; text-align:center;">Trang chủ</th>
                                <th style="width: 10%; text-align:center;">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in productBrands">
                                <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                                <td>{{$index+1}}</td>
                                <td><a ui-sref="edit_product_brand({id:item.ID})">{{item.Name}}</a></td>
                                <td>{{item.Description | limitTo:100}}...</td>
                                <td>{{item.CreatedBy}}  &#10; {{item.CreatedDate | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.UpdatedBy}}  &#10; {{item.UpdatedDate | date:'dd/MM/yyyy'}}</td>
                                <td style="text-align:center;"><i class="{{item.IsPublished | isPublishFilter}}"></i></td>
                                <td style="text-align:center;"><i class="{{item.HomeFlag | isPublishFilter}}"></></i></td>
                                <td style="text-align:center;">
                                    <button class="btn btn-primary" ui-sref="edit_product_brand({id:item.ID})" title="Chỉnh sửa"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-danger" ng-click="deleteProductBrand(item.ID)" title="Xóa"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProductBrands(page)" class="pull-right"></pager-directive>
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</section><!-- /.content -->