﻿ <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
       THÊM MỚI NHÃN HIỆU SẢN PHẨM
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="product_brands">Danh sách nhãn hiệu</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới: <b>{{productBrand.Name}}</b></h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddProductBrand" role="form" ng-submit="AddProductBrand()">
            <div class="box-body">
                <div class="form-group" ng-class="{ 'has-error' : frmAddProductBrand.name.$invalid && !frmAddProductBrand.name.$pristine }">
                    <label for="name" class="col-sm-2 control-label">Tên nhãn hiệu:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required ng-change="GetSeoTitle()" name="name" ng-model="productBrand.Name">
                        <span ng-show="frmAddProductBrand.name.$invalid  && !frmAddProductBrand.name.$pristine" class="has-error">Tên nhãn hiệu là bắt buộc.</span>
                        <span ng-show="frmAddProductBrand.name.$error.maxlength" class="has-error"> Tên nhãn hiệu tối đa 256 ký tự.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddProductBrand.alias.$invalid && !frmAddProductBrand.alias.$pristine }">
                    <label for="alias" class="col-sm-2 control-label">Tiêu đề SEO:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required ng-maxlength="256" name="alias" ng-model="productBrand.Alias">
                        <span ng-show="frmAddProductBrand.alias.$invalid  && !frmAddProductBrand.alias.$pristine" class="has-error">Tiêu đề SEO là bắt buộc.</span>
                        <span ng-show="frmAddProductBrand.alias.$error.maxlength" class="has-error"> Tiêu đề Seo tối đa 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Mô tả ngắn:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" ng-model="productBrand.Description">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddProductBrand.image.$invalid && !frmAddProductBrand.image.$pristine }">
                    <label for="image" class="col-sm-2 control-label">Hình ảnh:</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-maxlength="256" name="imageInput" ng-model="productBrand.Image">
                            <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button></span>
                        </div>
                        <img ng-show="productBrand.Image"  class="img-responsive" name="image" ng-src="{{productBrand.Image}}" width="150"  alt="Hình ảnh">
                        <span ng-show="frmAddProductBrand.imageInput.$error.maxlength" class="has-error">Hình ảnh tối đa 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddProductBrand.metaKeyword.$invalid && !frmAddProductBrand.metaKeyword.$pristine }">
                    <label for="metaKeyword" class="col-sm-2 control-label">Meta Keyword:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="metaKeyword" ng-model="productBrand.MetaKeyword">
                        <span ng-show="frmAddProductBrand.metaKeyword.$error.maxlength" class="has-error">Meta Keyword tối đa 256 ký tự.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddProductBrand.metaDescription.$invalid && !frmAddProductBrand.metaDescription.$pristine }">
                    <label for="metaDescription" class="col-sm-2 control-label">Meta Description:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="metaDescription" ng-model="productBrand.MetaDescription"></textarea>
                        <span ng-show="frmAddProductBrand.metaKeyword.$error.maxlength" class="has-error">Meta Description tối đa 256 ký tự.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="productBrand.IsPublished" ng-checked="productBrand.IsPublished"> Hiển thị
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="homeFlag" ng-model="productBrand.HomeFlag" ng-checked="productBrand.HomeFlag"> Hiển thị trang chủ
                            </label>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" ng-disabled="frmAddProductBrand.$invalid" class="btn btn-primary" value="Lưu lại" />
                        <a ui-sref="product_brands" class="btn btn-default">Hủy bỏ</a>
                        <button class="btn btn-default" type="button" ng-click="resetForm()">Làm lại</button>
                    </div>
                </div>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->