﻿<!-- Content Header (Page header) -->
<section class="content-header">

</section>
<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h1 class="headline text-yellow"> 404</h1>
        <div class="error-content">
            <h3><i class="fa fa-warning text-yellow"></i> Oops! Không tìm thấy trang bạn cần.</h3>
            <p>
                Có vẽ bạn đã vào 1 trang không tồn tại!!!
                Bạn có thể click vào<br /> <a ui-sref="home"> Trang chủ</a> để quay lại trang chủ!
            </p>

        </div>
        <!-- /.error-content -->
    </div>
    <!-- /.error-page -->
</section>
<!-- /.content -->