﻿  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Trang chủ
        <small>Đây là trang quản lý của KATShop</small>
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
            <!-- TABLE: LATEST ORDERS -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Đơn hàng mới</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" title="Thu">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Khách hàng</th>
                                    <th>Ngày đặt</th>
                                    <th>Trạng thái</th>
                                    <th>Thanh toán</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="order in latestOrder">
                                    <td><a ui-sref="order_edit({id:order.ID})" style="color:#3c8dbc;" title="Chọn để xem chi tiết">#{{order.ID}}</a></td>
                                    <td>{{order.CustomerName}}</td>
                                    <td>{{order.CreatedDate | date:'dd/MM/yyyy'}}</td>
                                    <td ng-repeat="status in orderStatus | filter:{ ValueInt: order.Status}"><span class="{{status.Code | isStatusOrderFilter}}">{{status.ValueString}}</span></td>
                                    <td ng-repeat="status in orderStatus | filter:{ ValueInt: order.PaymentStatus}"><span class="{{status.Code | isStatusOrderFilter}}">{{status.ValueString}}</span></td>
                                </tr>                                     
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a ui-sref="orders" class="btn btn-sm btn-default btn-flat pull-right">Xem tất cả</a>
                </div>
                <!-- /.box-footer -->
            </div>
            <!-- TABLE: LATEST FEEDBACK -->
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">Phản hồi mới</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" title="Thu">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                                <tr>
                                    <th>Họ tên</th>
                                    <th>Email</th>
                                    <th>Ngày gửi</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="feedback in latestFeedbacks">
                                    <td><a ui-sref="feedback_edit({id:feedback.ID})" style="color:#3c8dbc;" title="Chọn để xem chi tiết">{{feedback.Name}}</a></td>
                                    <td>{{feedback.Email}}</td>
                                    <td>{{feedback.CreatedDate | date:'dd/MM/yyyy'}}</td>
                                    <td ng-show="{{ !feedback.Status}}"><span class="label label-danger">Chưa xử lý</span></td>
                                    <td ng-show="{{feedback.Status}}"><span class="label label-primary">Đã trả lời</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <a ui-sref="feedbacks" class="btn btn-sm btn-default btn-flat pull-right">Xem tất cả</a>
                </div>
                <!-- /.box-footer -->
            </div>

            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-4">
            <!-- PRODUCT LIST -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Sản phẩm mới</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" title="Thu">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <ul class="products-list product-list-in-box">
                        <li class="item" ng-repeat="product in latestProduct">
                            <div class="product-img">
                                <img ng-src="{{product.Image}}" alt="{{product.NormalizedName}}">
                            </div>
                            <div class="product-info">
                                <a ui-sref="product_edit({id:product.ID})" class="product-title">
                                    {{product.Name}}
                                    <span ng-show="{{product.PromotionPrice >0}}" class="label label-danger pull-right">KM {{product.PromotionPrice | number}}</span>
                                    <span ng-show="{{ !product.PromotionPrice >0}}" class="label label-info pull-right">{{product.Price | number}}</span>
                                </a>
                                <span class="product-description">
                                    {{product.Description}}
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                    <a ui-sref="products" class="uppercase">Xem tất cả</a>
                </div>
                <!-- /.box-footer -->
            </div>

        
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>