﻿<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a ui-sref="home" class="logo">
            <span class="logo-mini"><b>A</b>KAT</span>
            <span class="logo-lg"><b>Admin</b>KAT</span>
        </a>
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="javascript:void(0);" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="/Assets/admin/img/user2-160x160.jpg" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{authentication.userName}}</span>

                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="./Assets/admin/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                                <p>
                                    <strong>{{authentication.userName}}</strong>
                                </p>
                                <a ui-sref="change_Password({username:authentication.userName})" class="btn btn-default btn-flat">Đổi mật khẩu</a>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="javascript:void(0);" class="btn btn-default btn-flat">{{AssignedDate.now() | date:'dd/MM/yyyy HH:mm:ss'}}</a>
                                </div>
                                <div class="pull-right">
                                    <a ng-click="logOut()" class="btn btn-default btn-flat">Thoát</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- =============================================== -->
    <!-- Left side column. contains the sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/Assets/admin/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{authentication.userName}}</p>
                    <a href="javascript:void(0);"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MENU</li>
                <li class="treeview">
                    <a ui-sref="home">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
                    </a>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-files-o"></i>
                        <span>Hệ thống</span><i class="fa fa-angle-left pull-right"></i>
                        <span class="label label-primary pull-right"></span>
                    </a>
                    <ul class="treeview-menu">
                        <!--<li><a ui-sref="application_groups"><i class="fa fa-circle-o"></i> Nhóm người dùng</a></li>-->
                        <!--<li><a ui-sref="application_roles"><i class="fa fa-circle-o"></i> Quyền</a></li>-->
                        <li><a ui-sref="application_users"><i class="fa fa-circle-o"></i> Người dùng</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-laptop"></i>
                        <span>Sản phẩm</span><i class="fa fa-angle-left pull-right"></i>
                        <span class="label label-primary pull-right"></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="product_categories"><i class="fa fa-circle-o"></i> Danh mục sản phẩm</a></li>
                        <li><a ui-sref="product_brands"><i class="fa fa-circle-o"></i> Nhãn hiệu</a></li>
                        <li><a ui-sref="products"><i class="fa fa-circle-o"></i> Sản phẩm</a></li>
                        <li><a ui-sref="product_attribute_groups"><i class="fa fa-circle-o"></i> Nhóm thuộc tính</a></li>
                        <li><a ui-sref="product_attributes"><i class="fa fa-circle-o"></i> Thuộc tính</a></li>
                        <li><a ui-sref="product_templates"><i class="fa fa-circle-o"></i> Mẫu thuộc tính</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a ui-sref="orders">
                        <i class="fa fa-shopping-cart"></i>
                        <span>Bán hàng</span>
                        <span class="label label-primary pull-right"></span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-book"></i>
                        <span>Bài viết</span><i class="fa fa-angle-left pull-right"></i>
                        <span class="label label-primary pull-right"></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="post_categories"><i class="fa fa-circle-o"></i> Danh mục bài viết</a></li>
                        <li><a ui-sref="posts"><i class="fa fa-circle-o"></i> Bài viết</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a ui-sref="feedbacks">
                        <i class="fa fa-envelope"></i>
                        <span>Phản hồi</span>
                        <span class="label label-primary pull-right"></span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0);">
                        <i class="fa fa-area-chart"></i>
                        <span>Thống kê</span>
                        <span class="label label-primary pull-right"></span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a ui-sref="statistic_revenue"><i class="fa fa-circle-o"></i> Thống kê doanh thu</a></li>
                        <li><a ui-sref="statistic_product"><i class="fa fa-circle-o"></i> Thống kê số lượng</a></li>
                    </ul>
                </li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div ui-view></div>
    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-left">
            <strong>KATShop</strong>
        </div>
        <div class="pull-right hidden-xs">
            <b>KATShop version</b> 1.0
        </div>
        <div class="text-center">
            {{AssignedDate.now() | date:'dd/MM/yyyy HH:mm:ss'}}
        </div>
    </footer>
    <!-- Control Sidebar -->

    <div class="control-sidebar-bg"></div>
</div>