﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h1>Thông tin phản hồi</h1>
            <p>Kính chào quý khách:<b> {{Name}}</b> - {{Email}}</p>
            <p>Cảm ơn quý khách đã gửi phản hồi đến chúng tôi!</p>
            <p><b>Nội dung:</b> {{Message}}</p>
        </div>
        <div class="col-md-12">
            <h2>Thông tin trả lời</h2>
            {{RepliedContent}}            
            <br />
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <span><b>KATShop</b> hân hạnh phục vụ quý khách</span>
            <br />
            <i style="font-size:12px; color:red;">Xin vui lòng không trả lời tại mail này!</i>
        </div>
    </div>
</body>
</html>
