﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="row">
        <div class="col-md-12">
            <h1>Thông tin đơn hàng</h1>
            <p>Kính chào quý khách:<b> {{Name}}</b> - {{Email}}</p>
            <p>Cảm ơn quí khách đã đặt hàng ở <b>KATShop</b></p>
            <p>Mã đơn hàng của bạn là: <b>{{OrderID}}</b></p>
            
            <p>Bạn có thể truy cập vào ứng dụng và sử dụng mã đơn hàng trên để kiểm tra đơn hàng.</p>
        </div>                                                             
        <div class="clearfix"></div>
        <div class="col-md-12">
            <span><b>KATShop</b> hân hạnh phục vụ quý khách</span>
            <br />
            <i style="font-size:12px; color:red;">Xin vui lòng không trả lời tại mail này!</i>
        </div>
    </div>
</body>
</html>
