﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <h2>Thay đổi mật khẩu</h2>
    <p>Xin chào: <b>{{FullName}}</b></p>
    <p>Tài khoản: <i>{{UserName}}</i></p>
    <p>Bạn vừa yêu cầu thay đổi mật khẩu tài khoản tại hệ thống <b>KATShop</b>, để chắc chắn đó là thao tác của bạn mời bạn chọn vào link sau để lấy lại mật khẩu mới.</p>
    <p><a href="{{CurrentLink}}">{{CurrentLink}}</a></p>
     <br />
    <p>Nếu đó không phải do bạn thực hiện thì có thể bỏ qua email này và không cần làm gì.</p>
    <p><b>KATShop</b> hân hạnh phục vụ</p>
    <p><i style="font-size:12px; color:red;">Đây là mail tự động. Xin vui lòng không trả lời tại mail này!!!</i></p>
</body>
</html>
