﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
   <h2>Thông tin người dùng</h2>
    <p>Xin chào: <b>{{FullName}}</b></p>
    <p>Tài khoản <b>{{UserName}}</b> của bạn vừa được thêm mới tại hệ thống KATShop</p>
    <p>Mật khẩu truy cập: <b>{{Password}}</b></p>
    <p>Bạn nên truy cập vào hệ thống để đổi lại mật khẩu theo địa chỉ: <a href="{{CurrentLink}}">{{CurrentLink}}</a></p>
    <br />
    <p><b>KATShop</b> hân hạnh phục vụ</p>
    <p><i style="font-size:12px; color:red;">Đây là mail tự động. Xin vui lòng không trả lời tại mail này!!!</i></p>
</body>
</html>
