﻿  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        DANH SÁCH PHẢN HỒI
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Danh sách phản hồi</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh sách phản hồi</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Thu"><i class="fa fa-minus"></i></button>
            </div>  
        </div>
        <div class="box-body">
            <di class="row">
                <div class="col-md-4">
                    <div class="col-xs-10" angucomplete-alt id="txtSearch" placeholder="Nhập email phản hồi..." pause="100"
                         selected-object="afterSelectedItem" local-data="dataSearch" search-fields="Email" title-field="Email"
                         minlength="0" input-class="form-control" match-class="highlight" ng-model="keyword" text-no-results="Không có phản hồi phù hợp..." text-searching="Đang tìm...">
                    </div>
                    <span class="col-xs-2" id="buttonSearch">
                        <button class="btn btn-default" type="button" ng-click="search()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="col-md-2 pull-left">
                    <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled title="Xóa nhiều phản hồi">Xóa</button>
                </div>
                <div class="col-md-2 pull-right">
                    <select name="numRow" ng-model="numRow" ng-change="search()" class="form-control">
                        <option value="5">Hiển thị 5 hàng</option>
                        <option value="10">Hiển thị 10 hàng</option>
                        <option value="25">Hiển thị 25 hàng</option>
                        <option value="50">Hiển thị 50 hàng</option>
                        <option value="-1">Tất cả</option>
                    </select>
                    <input type="hidden" name="numRow" ng-model="numRow" />
                </div>
                <div class="col-md-4 pull-right">
                    <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getFeedbacks(page)" class="pull-right"></pager-directive>
                </div>   
            </di>
            <div class="row" style="overflow-x:auto;">
                <div class="col-md-12">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="rowHeaderTable">
                                <th style="vertical-align: middle;"><input name="all" type="checkbox" ng-click="selectAll()" /></th>
                                <th style="width: 3%" class="columnHeaderTable">STT</th>
                                <th style="width: 14%" class="columnHeaderTable">Họ tên</th>
                                <th style="width: 14%" class="columnHeaderTable">Email</th>
                                <th style="width: 30%" class="columnHeaderTable">Nội dung</th>
                                <th style="width: 9%" class="columnHeaderTable">Ngày gửi</th>
                                <th style="width: 10%" class="columnHeaderTable">Trả lời bởi</th>
                                <th style="width: 8%" class="columnHeaderTable">Đã xử lý</th>                                
                                <th style="width: 9%; text-align:center;" class="columnHeaderTable">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in feedbacks">
                                <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                                <td>{{$index+1}}</td>
                                <td>{{item.Name}}</td>
                                <td>{{item.Email}}</td>
                                <td>{{item.Message | limitTo:100}}...</td>
                                <td>{{item.CreatedDate  | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                <td>{{item.RepliedBy}}  &#10; {{item.RepliedDate  | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                <td style="text-align:center;"><i class="{{item.Status | isPublishFilter}}"></></i></td>
                                <td style="text-align:center;">
                                    <button class="btn btn-sm btn-primary" ui-sref="feedback_edit({id:item.ID})" title="Chỉnh sửa"><i class="fa fa-pencil"></i></button>
                                    <button class="btn  btn-sm btn-danger" ng-click="deleteFeedback(item.ID)" title="Xóa"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="10"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                    <div ng-if="loading">
                        <div class="col-xs-4"></div>
                        <div class="col-xs-4">
                            <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getFeedbacks(page)" class="pull-right"></pager-directive>
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</section><!-- /.content -->