﻿ <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        DANH SÁCH THUỘC TÍNH
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="product_attributes">Thuộc tính</a></li>
        <li class="active">Danh sách</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh thuộc tính</h3>       
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Thu"><i class="fa fa-minus"></i></button>
            </div>    
        </div>
        <div class="box-body">
            <di class="row">
                <div class="col-md-4">
                    <div class="col-xs-10" angucomplete-alt id="txtSearch" placeholder="Nhập tên thuộc tính" pause="100"
                         selected-object="afterSelectedItem" local-data="dataSearch" search-fields="Name" title-field="Name"
                         minlength="0" input-class="form-control" description-field="ProductAttributeGroup.Name" match-class="highlight" ng-model="keyword" text-no-results="Không có thuộc tính phù hợp..." text-searching="Đang tìm...">
                    </div>
                    <span class="col-xs-2" id="buttonSearch">
                        <button class="btn btn-default" type="button" ng-click="search()"><i class="fa fa-search"></i></button>
                    </span>
                </div>
                <div class="col-md-2 pull-left">
                    <button class="btn btn-success" ui-sref="add_product_attribute" title="Thêm mới thuộc tính">Thêm mới</button>
                    <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled title="Xóa nhiều thuộc tính">Xóa</button>
                </div>
                <div class="col-md-2 pull-right">
                    <select name="numRow" ng-model="numRow" ng-change="search()" class="form-control">
                        <option value="5">Hiển thị 5 hàng</option>
                        <option value="10">Hiển thị 10 hàng</option>
                        <option value="25">Hiển thị 25 hàng</option>
                        <option value="50">Hiển thị 50 hàng</option>
                        <option value="-1">Tất cả</option>
                    </select>
                    <input type="hidden" name="numRow" ng-model="numRow" />
                </div>
                <div class="col-md-4 pull-right">
                    <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProductAttributes(page)" class="pull-right"></pager-directive>
                </div>  
            </di>
            <div class="row" style="overflow-x:auto;">
                <div ng-if="loading">
                    <div class="col-xs-4"></div>
                    <div class="col-xs-4">
                        <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Đang tải...</label>
                    </div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr class="rowHeaderTable">
                                <th><input name="all" type="checkbox" ng-click="selectAll()" /></th>
                                <th style="width: 7%">STT</th>
                                <th style="width: 40%">Tên thuộc tính</th>
                                <th style="width: 40%">Nhóm thuộc tính</th>
                                <th style="width: 10%; text-align:center;">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in data">
                                <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                                <td>{{$index+1}}</td>
                                <td><a ui-sref="edit_product_attribute({id:item.ID})">{{item.Name}}</a></td>
                                <td>{{item.ProductAttributeGroup.Name}}</td>
                                <td style="text-align:center;">
                                    <button class="btn btn-sm btn-primary" ui-sref="edit_product_attribute({id:item.ID})" title="Chỉnh sửa"><i class="fa fa-pencil"></i></button>
                                    <button class="btn  btn-sm btn-danger" ng-click="deleteItem(item.ID)" title="Xóa"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5"><span class="pull-right">Trang: {{page+1}} - Tổng số bản ghi: {{totalCount}}</span></td>
                            </tr>
                        </tfoot>
                    </table>
                    
                </div>
            </div>
        </div><!-- /.box-body -->
        <div class="box-footer">
            <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProductAttributes(page)" class="pull-right"></pager-directive>
        </div><!-- /.box-footer-->
    </div><!-- /.box -->
</section><!-- /.content -->