﻿ <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
       THÊM MỚI DANH MỤC SẢN PHẨM
    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="home"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a ui-sref="product_categories">Danh mục sản phẩm</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới: <b>{{productCategory.Name}}</b></h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddProductCategory" role="form" ng-submit="AddProductCategory()">
            <div class="box-body">
                <div class="form-group" ng-class="{ 'has-error' : frmAddProductCategory.name.$invalid && !frmAddProductCategory.name.$pristine }">
                    <label for="name" class="col-sm-2 control-label">Tên danh mục:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required ng-change="GetSeoTitle()" name="name" ng-model="productCategory.Name">
                        <span ng-show="frmAddProductCategory.name.$invalid  && !frmAddProductCategory.name.$pristine" class="has-error">Tên danh mục là bắt buộc.</span>
                        <span ng-show="frmAddProductCategory.name.$error.maxlength" class="has-error"> Tên danh mục tối đa 256 ký tự.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddProductCategory.alias.$invalid && !frmAddProductCategory.alias.$pristine }">
                    <label for="alias" class="col-sm-2 control-label">Tiêu đề SEO:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" required ng-maxlength="256" name="alias" ng-model="productCategory.Alias">
                        <span ng-show="frmAddProductCategory.alias.$invalid  && !frmAddProductCategory.alias.$pristine" class="has-error">Tiêu đề SEO là bắt buộc.</span>
                        <span ng-show="frmAddProductCategory.alias.$error.maxlength" class="has-error"> Tiêu đề Seo tối đa 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-sm-2 control-label">Mô tả ngắn:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="description" ng-model="productCategory.Description">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddProductCategory.parentId.$invalid && !frmAddProductCategory.parentId.$pristine }">
                    <label for="parentId" class="col-sm-2 control-label">Danh mục cha:</label>
                    <div class="col-sm-10">
                        <select name="parentId" class="form-control" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in flatFolders">
                            <option value="">--Danh mục gốc--</option>
                        </select>
                        <input type="hidden" name="parentId" ng-model="productCategory.ParentID" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="displayOrder" class="col-sm-2 control-label">Thứ tự hiển thị:</label>
                    <div class="col-sm-10">
                        <input type="number" class="form-control" name="displayOrder" ng-model="productCategory.DisplayOrder">
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddProductCategory.image.$invalid && !frmAddProductCategory.image.$pristine }">
                    <label for="image" class="col-sm-2 control-label">Hình ảnh:</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-maxlength="256" name="imageInput" ng-model="productCategory.Image">
                            <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="ChooseImage()">Chọn ảnh</button></span>
                        </div>
                        <img ng-show="productCategory.Image" class="img-responsive" name="image" ng-src="{{productCategory.Image}}" width="150" alt="Hình ảnh">
                        <span ng-show="frmAddProductCategory.imageInput.$error.maxlength" class="has-error">Hình ảnh tối đa 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddProductCategory.metaKeyword.$invalid && !frmAddProductCategory.metaKeyword.$pristine }">
                    <label for="metaKeyword" class="col-sm-2 control-label">Meta Keyword:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="metaKeyword" ng-model="productCategory.MetaKeyword">
                        <span ng-show="frmAddProductCategory.metaKeyword.$error.maxlength" class="has-error">Meta Keyword tối đa 256 ký tự.</span>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : frmAddProductCategory.metaDescription.$invalid && !frmAddProductCategory.metaDescription.$pristine }">
                    <label for="metaDescription" class="col-sm-2 control-label">Meta Description:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="metaDescription" ng-model="productCategory.MetaDescription"></textarea>
                        <span ng-show="frmAddProductCategory.metaKeyword.$error.maxlength" class="has-error">Meta Description tối đa 256 ký tự.</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="status" ng-model="productCategory.IsPublished" ng-checked="productCategory.IsPublished"> Hiển thị
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="homeFlag" ng-model="productCategory.HomeFlag" ng-checked="productCategory.HomeFlag"> Hiển thị trang chủ
                            </label>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="submit" ng-disabled="frmAddProductCategory.$invalid" class="btn btn-primary" value="Lưu lại" />
                        <a ui-sref="product_categories" class="btn btn-default">Hủy bỏ</a>
                        <button class="btn btn-default" type="button" ng-click="resetForm()">Làm lại</button>
                    </div>
                </div>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->