﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KATShop</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="~/Assets/admin/libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="shortcut icon" href="~/Content/favicon.ico" />
    <!-- Theme style -->
    <link href="~/Assets/admin/libs/toastr/toastr.css" rel="stylesheet" />
        <link href="~/Assets/admin/libs/angular-loading-bar/build/loading-bar.css" rel="stylesheet" />
        <link href="~/Assets/admin/libs/angular-chart.js/dist/angular-chart.css" rel="stylesheet" />
        <link href="~/Assets/admin/libs/summernote/dist/summernote.css" rel="stylesheet" />
        <link href="~/Assets/admin/libs/angular-bootstrap/ui-bootstrap-csp.css" rel="stylesheet" />
        <link href="~/Assets/admin/css/select2.min.css" rel="stylesheet" />
        <link href="~/Assets/admin/libs/angular-datepicker/dist/angular-datepicker.min.css" rel="stylesheet" />
        <link href="~/Assets/admin/libs/angucomplete-alt/angucomplete-alt.css" rel="stylesheet" />
        <link href="~/Assets/admin/css/AdminLTE.css" rel="stylesheet" />
    

    <link href="~/Assets/admin/css/custom.css" rel="stylesheet" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/admin/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-app="katshop" ng-controller="rootController">
    <div ui-view></div>
    <!-- Site wrapper -->
    <!-- jQuery 2.2.3 -->
    <script src="~/Assets/admin/libs/jquery/dist/jquery.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/Assets/admin/libs/bootstrap/dist/js/bootstrap.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/admin/libs/slimScroll/jquery.slimscroll.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/admin/libs/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/admin/js/app.min.js"></script>
    <!-- Begin embed angularJS -->
    <!--Libs-->

    <script src="~/Assets/admin/libs/angular/angular.js"></script>
    <script src="~/Assets/admin/libs/moment/moment.js"></script>
    <script src="~/Assets/admin/libs/moment-timezone/moment-timezone.js"></script>
    <script src="~/Assets/admin/libs/angular-datepicker/dist/angular-datepicker.min.js"></script>
    <script src="~/Assets/admin/libs/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/Assets/admin/libs/toastr/toastr.js"></script>
    <script src="~/Assets/admin/libs/bootbox/bootbox.js"></script>
    <script src="~/Assets/admin/libs/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/admin/libs/ckeditor/adapters/jquery.js"></script>
    <script src="~/Assets/admin/libs/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/admin/libs/ngBootbox/ngBootbox.js"></script>
    <script src="~/Assets/admin/libs/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="~/Assets/admin/libs/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="~/Assets/admin/libs/angular-loading-bar/build/loading-bar.js"></script>
    <script src="~/Assets/admin/libs/checklist-model/checklist-model.js"></script>
    <script src="~/Assets/admin/libs/Chart.js/Chart.js"></script>
    <script src="~/Assets/admin/libs/angular-chart.js/dist/angular-chart.js"></script>
    <script src="~/Assets/admin/libs/summernote/dist/summernote.js"></script>
    <script src="~/Assets/admin/libs/angular-summernote/dist/angular-summernote.js"></script>
    <script src="~/Assets/admin/js/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>
    <script src="~/Assets/admin/libs/FileSaver.js/FileSaver.js"></script>
    <script src="~/Assets/admin/libs/angucomplete-alt/angucomplete-alt.js"></script>




    <!--Services-->
    @*<script src="~/app/shared/modules/katshop.common.js"></script>
        <script src="~/app/shared/filter/isPublishFilter.js"></script>
        <script src="~/app/shared/filter/isStatusOrderFilter.js"></script>
        <script src="~/app/shared/services/apiService.js"></script>
        <script src="~/app/shared/directives/pagerDirective.js"></script>
        <script src="~/app/shared/directives/asDateDirective.js"></script>
        <script src="~/app/shared/services/notificationService.js"></script>
        <script src="~/app/shared/services/authData.js"></script>
        <script src="~/app/shared/services/authenticationService.js"></script>
        <script src="~/app/shared/services/loginService.js"></script>
        <script src="~/app/shared/services/commonService.js"></script>*@

    @Scripts.Render("~/app/shared/js/shared.js")

    <!--Module-->
    @*<script src="~/app/components/application_groups/applicationGroups.module.js"></script>
        <script src="~/app/components/application_roles/applicationRoles.module.js"></script>
        <script src="~/app/components/application_users/applicationUsers.module.js"></script>
        <script src="~/app/components/post_categories/postCategories.module.js"></script>
        <script src="~/app/components/posts/posts.module.js"></script>
        <script src="~/app/components/product_categories/productCategories.module.js"></script>
        <script src="~/app/components/product_brands/productBrands.module.js"></script>
        <script src="~/app/components/product_attribute_groups/productAttributeGroups.module.js"></script>
        <script src="~/app/components/product_attributes/productAttributes.module.js"></script>
        <script src="~/app/components/product_templates/productTemplates.module.js"></script>
        <script src="~/app/components/products/products.module.js"></script>
        <script src="~/app/components/orders/orders.module.js"></script>
        <script src="~/app/components/feedbacks/feedbacks.module.js"></script>
        <script src="~/app/components/statistic/statistic.module.js"></script>*@
    @Scripts.Render("~/app/components/js/module.js")


    <script src="~/app/app.js"></script>
   
    @Scripts.Render("~/app/components/js/controller.js")
    @*<script src="~/app/components/home/rootController.js"></script>

        <script src="~/app/components/home/homeController.js"></script>
        <script src="~/app/components/login/loginController.js"></script>

        <!--ApplicationRoles-->
        <script src="~/app/components/application_roles/applicationRoleListController.js"></script>
        <script src="~/app/components/application_roles/applicationRoleAddController.js"></script>
        <script src="~/app/components/application_roles/applicationRoleEditController.js"></script>

        <!--ApplicationGroups-->
        <script src="~/app/components/application_groups/applicationGroupListController.js"></script>
        <script src="~/app/components/application_groups/applicationGroupAddController.js"></script>
        <script src="~/app/components/application_groups/applicationGroupEditController.js"></script>

        <!--ApplicationUsers-->
        <script src="~/app/components/application_users/applicationUserAddController.js"></script>
        <script src="~/app/components/application_users/applicationUserEditController.js"></script>
        <script src="~/app/components/application_users/applicationUserListController.js"></script>
        <script src="~/app/components/application_users/applicationUserChangePassController.js"></script>

        <!--Post Categories-->
        <script src="~/app/components/post_categories/postCategoryAddController.js"></script>
        <script src="~/app/components/post_categories/postCategoryEditController.js"></script>
        <script src="~/app/components/post_categories/postCategoryListController.js"></script>

        <!--Post-->
        <script src="~/app/components/posts/postAddController.js"></script>
        <script src="~/app/components/posts/postEditController.js"></script>
        <script src="~/app/components/posts/postListController.js"></script>

        <!--Product Categories-->
        <script src="~/app/components/product_categories/productCategoryAddController.js"></script>
        <script src="~/app/components/product_categories/productCategoryEditController.js"></script>
        <script src="~/app/components/product_categories/productCategoryListController.js"></script>

        <!--Product Brands-->
        <script src="~/app/components/product_brands/productBrandListController.js"></script>
        <script src="~/app/components/product_brands/productBrandAddController.js"></script>
        <script src="~/app/components/product_brands/productBrandEditController.js"></script>

        <!--Product Attribute Groups-->
        <script src="~/app/components/product_attribute_groups/productAttributeGroupListController.js"></script>
        <script src="~/app/components/product_attribute_groups/productAttributeGroupAddController.js"></script>
        <script src="~/app/components/product_attribute_groups/productAttributeGroupEditController.js"></script>

        <!--Product Attributes-->
        <script src="~/app/components/product_attributes/productAttributeListController.js"></script>
        <script src="~/app/components/product_attributes/productAttributeAddController.js"></script>
        <script src="~/app/components/product_attributes/productAttributeEditController.js"></script>

        <!--Product Templates-->
        <script src="~/app/components/product_templates/productTemplateListController.js"></script>
        <script src="~/app/components/product_templates/productTemplateAddController.js"></script>
        <script src="~/app/components/product_templates/productTemplateEditController.js"></script>

        <!--Products-->
        <script src="~/app/components/products/productListController.js"></script>
        <script src="~/app/components/products/productAddController.js"></script>
        <script src="~/app/components/products/productEditController.js"></script>

        <!--Orders-->
        <script src="~/app/components/orders/orderListController.js"></script>
        <script src="~/app/components/orders/orderEditController.js"></script>
        <script src="~/app/components/orders/orderPrintController.js"></script>

        <!--Feedbacks-->
        <script src="~/app/components/feedbacks/feedbackListController.js"></script>
        <script src="~/app/components/feedbacks/feedbackEditController.js"></script>

        <!--Statistic-->
        <script src="~/app/components/statistic/revenueStatisticController.js"></script>
        <script src="~/app/components/statistic/productStatisticController.js"></script>*@

</body>
</html>
